<div class="container" [@listAnim]="listAnim$ | async">
    <app-project-item *ngFor="let project of (projects$ | async)"
                      [item]="project"
                      (itemSelected)="selectProject(project)"
                      class="card"
                      (onInvite)="launchInvite(project)"
                      (onEdit)="launchUpdateDialog(project)"
                      (onDel)="launchConfirmDialog(project)">

    </app-project-item>
</div>

<button class="fab-button" mat-fab type="button" (click)="openNewProjectDialog()">
    <mat-icon>add</mat-icon>
</button>
